<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./web/css/style.css">
    <title>Error 404</title>
</head>
<body>
<header class="header">
    <a href="./"><img src="./web/images/login_icon.png" alt="" width="120" height="110"></a>
    <h1>Registration &amp; Authentication Application</h1>
    <nav class="navigation" role="navigation">
        <ul class="">
            <li><a href="./">Home</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <hr>
    <h1 class="text-center" style="font-size: 6em; font-weight: 500;"><span style="font-size: 2em;">404 </span> error</h1>
    <hr>
    <p style="font-size: 2em;" class="text-center">Page not found</p>
    <div style="margin-top: 2em;">
        <p style="font-size: 1.8em;" class="text-center">We are sorry but the page you are looking for does not exist</p>
        <p style="font-size: 1.8em;" class="text-center">You could return to the <a href="./" style="color: black;">homepage</a></p>
    </div>
</div>
</body>
</html>
