<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./web/css/style.css">
</head>
<body>
<header class="header">
    <a href="./"><img src="./web/images/login_icon.png" alt="" width="120" height="110"></a>
    <h1>Registration &amp Authentication Application</h1>
    <nav class="navigation" role="navigation">
        <ul class="">
            <li><a href="./">Home</a></li>
            <li><a href="register">Register</a></li>
            <li>
                <?php if (isset($_SESSION['user'])) {  ?>
                <?php echo "<a href=\"logout\">Logout</a>"; ?>
                <?php } else { ?>
                <?php echo "<a href=\"login\">Login</a>"; ?>
                <?php } ?>
            </li>
        </ul>
    </nav>
</header>
<main class="container">
    <h1 class="text-center">Hello <?php echo isset($_SESSION['user']) ? $_SESSION['user'] : 'anon'; ?></h1>
    <table class="table table-striped">
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>FullName</th>
            <th>Date of birth</th>
        </tr>
        <?php foreach ($users as $user) : ?>
        <tr>
            <td><?= $user->getEmail(); ?></td>
            <td><?= $user->getUsername(); ?></td>
            <td><?= $user->getFullName(); ?></td>
            <td><?= $user->getBirthDate(); ?></td>
        </tr>
        <?php endforeach; ?>
    </table>
</main>
</body>
</html>